@media screen and (min-width: 0px) {
	/* general */
	body {margin: 10px; padding: 0px; font-family: Montserrat; font-size: 0.7em; color: #222;}
	* {font-weight: 400;}
	strong {font-weight: 700;}
	a {border-bottom: 1px solid #ccc; text-decoration: none; color: black;}
	a:hover {color: orange;}
	p {margin-bottom: 1.7em;}
	h2 {margin-top: 3em; clear: both;}
	#RightCol {width: 100%; }
	#LeftCol {width: 100%;  }
	ul {margin-left: 0px; padding-left: 15px;}
	li {padding-bottom: 1.5em;}
	ul.actions {list-style: none; padding: 0; margin: 0; overflow: hidden;}
	ul.actions li {list-style: none; float: left; padding: 0em 1.5em 1.5em 0;}
	footer {margin-top: 10em; color: #555; height: 10em; clear: both; border-top: 1px solid #ccc;}

	/* form */
	#EVCWrapper {width: 100%; max-width: 700px; margin-left: auto; margin-right: auto; position: relative;}
	form {margin-top: 7em;}
	fieldset {border: none; padding: 0.5em 0; outline: none; clear: both;}
	fieldset * {}
	.fieldHolder { padding: 1em 0; clear: both; border-top: 1px solid #ccc; overflow: hidden;}
	.fieldHolder:last-child { border-bottom: 1px solid #ccc; }
	.middleColumn {position: relative; overflow: hidden; float: right; width: auto;}
	label, input {font-size: 12px;}
	label strong {font-weight: 400; color: #999; cursor: pointer;}
	label span.desc {color: orange;}
	.fieldHolder.changed label strong {color: #222}


	/****** INPUTS *********/
	input {
		width: 100%;
		background-color: transparent;
		border: none;
		text-align: right;
		color: blue;
		font-size: 21px;
	}
	input[type=range] {
		margin-top: 2em;
	}
	input[type=number] {
		width: calc(100% - 4px);
		-wap-input-format: 'N';
		font-size: 33px!important;
		margin-top: 1em;
	}
	input[readonly=readonly] {
		cursor: pointer;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	a.displayValue {text-align: right; width: 100%; display: block; border-bottom: none!important; }

	/* hide */
	label span.desc {display: none; color: orange;}
	input[type=range], input[type=number] {display: none; }
	.fieldHolder.infocus label span.desc,
	.fieldHolder.infocus input[type=range],
	.fieldHolder.infocus input[type=number] {display: block;  }
	.fieldHolder.infocus a.displayValue  {display: none;}
	.fieldHolder.infocus .middleColumn  {float: none; width: 100%;}

	/* show more of influence */
	.fieldHolder.infocus .influence {height: auto; color: #333;}
	.fieldHolder.infocus .influence span {top:0; bottom: 0; height: auto;}
	.fieldHolder.infocus .influence em {color: #777;}




	/* results */
	table {width: 100%; }

	tr.detail {display: none;}
	tr.detail th, tr.detail td {color: #999; padding-top: 0; border-bottom: 1px solid #ddd; font-size: 0.9em}
	tr.detail.excludedFromTotal th, tr.detail.excludedFromTotal td {color: orange;}

	td {padding: 0.9em 0 0.5em 0; vertical-align: top; width: 7em;text-align: right;}
	th {padding: 0.9em 0 0.5em 0; vertical-align: top; text-align: left; font-weight: 400; font-weight: normal;}
	thead th, tfoot th, tfoot td {text-align: right; border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;font-weight: 700;}
	table tr th a.show {display: block;}

	/* not ready */
	.notReady .mainDetailedSections {display: none; }

	/* calcVals */
	.calcVal {font-weight: 700; color: green; border-bottom: 1px solid #ccc; display: block; float: right; font-size: 21px; width: 100%; text-align: right;}
	.calcVal .negativeNumber {color: red;}
	#ProfitAndLoss {background-color: orange; color: green; }
	#ProfitAndLoss.fixed {position:fixed; top: 0; left: 0; width: 100%; z-index: 10; }
	#ProfitAndLoss p {padding: 1em!important; margin: 0; overflow: hidden;}
	#ProfitAndLoss p span.calcVal{border-bottom: none;}
	#ProfitAndLoss p.warning {display: none; font-size: 21px;}
	#ProfitAndLoss p.warning a{float: right;}
	/* influence */

	.influence {position: relative; background-color: #ccc; height: 3px; overflow: hidden; width: 100%; clear: both; border-radius: 5px; border-top: 12px solid #fff;}
	.influence span{position: absolute; top: 0; left: 0; background-color: #aaa; height: 3px; z-index: 1;}
	.influence em{padding: 5px; display: block; position: relative; z-index: 2; top: 0; left: 0; bottom: 0;color: transparent; }

}


@media screen and (min-width: 480px) {
	.fieldHolder.infocus .middleColumn  {width: 150px!important; float: right!important;}
	label {
		width: -webkit-calc(100% - 160px);
		width: -moz-calc(100% - 160px);
		width: calc(100% - 160px);
		float: left;
	}
	input {
		margin-top: 0em;
		font-size: 17px;
	}
	input[type=number] {
		position: absolute;
		top: 0;
		right: 0;
		width: 140px;
		margin-top: 0;
	}
	input[type=range] {
		margin-top: 4.5em!important;
		padding-bottom: 2em;
	}
	#KeyAssupmptions input {font-size: 21px;}
	tr.detail th, tr.detail td {border-bottom: 1px solid transparent;}
	.calcVal {font-size: auto; width: auto; border-bottom: 0;}
}
@media screen and (min-width: 700px) {
	input[type='text'] {width: 100%}

	label, input {font-size: 15px;}
	.fixed {}
	.fixed p{padding-left: 0; padding-right: 0; width: 700px; margin-left: auto!important; margin-right: auto!important;}
	#RightCol {max-width: 320px; float: right;}
	#LeftCol {max-width: 320px; float: left; }
}
@media screen and (min-width: 1100px) {
	body {font-size: 0.9em; }
}










/************
 * slider
 * source: http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
 *
 */

input[type=range] {
	/*removes default webkit styles*/
	-webkit-appearance: none;

	/*fix for FF unable to apply focus style bug */
	border: 1px solid white;

	/*required for proper track sizing in FF*/
	width: 100%px;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%px;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	background: blue;
	margin-top: -9px;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}

input[type=range]::-moz-range-track {
	width: 100%px;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
	border: none;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	background: blue;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
	outline: 1px solid white;
	outline-offset: -1px;
}

input[type=range]::-ms-track {
	width: 100%px;
	height: 5px;

	/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
	background: transparent;

	/*leave room for the larger thumb to overflow with a transparent border */
	border-color: transparent;
	border-width: 6px 0;

	/*remove default tick marks*/
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #777;
	border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
	background: #ddd;
	border-radius: 10px;
}
input[type=range]::-ms-thumb {
	border: none;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	background: blue;
}
input[type=range]:focus::-ms-fill-lower {
	background: #888;
}
input[type=range]:focus::-ms-fill-upper {
	background: #ccc;
}



/**********
 * transitions
 *
 */
.fieldHolder {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input[type=number] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid transparent;
}

input[type=number]:focus {
  box-shadow: inset 0 0 3px #ddd;
  border: 1px solid #ccc;
}



li.button-wrapper {
	width: 165px;
	background: #E0E0E0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9E9E9', endColorstr='#D7D7D7');
	background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#D7D7D7));
	background: -moz-linear-gradient(top,  #E9E9E9,  #D7D7D7);
	padding: 8px;
	-webkit-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-moz-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-o-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-khtml-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
}

a.button {
	display: block;
	width: 175px;
	height: 35px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 34px;
	text-decoration: none;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	font-weight: bold;
	background: #FF5D9F;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5D9F', endColorstr='#FF0080');
	background: -webkit-gradient(linear, left top, left bottom, from(#FF5D9F), to(#FF0080));
	background: -moz-linear-gradient(top, #FF5D9F, #FF0080);
	color: #871A4D;
	text-shadow: 0px 1px 0px #FF5AAA;
	-webkit-box-shadow: inset 0px 1px 0 #D1066C;
	-moz-box-shadow: inset 0px 1px 0 #D1066C;
	-o-box-shadow: inset 0px 1px 0 #D1066C;
	-khtml-box-shadow: inset 0px 1px 0 #D1066C;
	box-shadow: inset 0px 1px 0 #D1066C;	
}

li.buttonWrapper a.button:hover, li.buttonWrapper a.button:active {
	border: none;
	margin-top: 1px;
}

li.buttonWrapper a.button {

}
